.homepage_main {
  display: flex;
  height: 70vh;
  width: 92%;
  border-radius: 0.5rem;
  z-index: 999;
}

.homepage_main_left {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage_main_left_intro {
  height: 45vh;
  width: 80%;
  font-family: "Poppins", sans-serif;
  border-radius: 2rem;
}

.homepage_main_left_intro_name {
  line-height: 10px;
  margin-bottom: 50px;
}

/* credit: https://codepen.io/jakejarvis/pen/pBZWZw */
.homepage_main_left_intro_wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}


.homepage_main_right {
  flex: 0.4;
}

.homepage_main_right > img {
  height: 70vh;
  width: auto;
  border-radius: 2rem;
  border: 3px double rgba(142, 209, 252, 0.7);
  -webkit-box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
}
