.experience_card {
  min-height: 20vh;
  width: 70%;
  padding: 0px 20px 0px 20px;
  padding: 50px;
  border-radius: 1.5rem;
  cursor: pointer;
  margin: -50px;
}

.experience_card_company_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience_card_company_logo {
    height: 300px;
    width: 600px;
    object-fit: cover;
}

.experience_card_company_name_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience_card_company_name {
  font-size: x-large;
}

.experience_card_meta {
  display: flex;
  line-height: 2px;
  justify-content: space-between;
}
