.router {
  display: flex;
  justify-content: center;
  align-items: center;
}

.router_container {
  background-color: rgba(219, 207, 207, 0.5);
  display: flex;
  height: 5vh;
  border-radius: 2rem;
  padding: 2px 30px 2px 30px;
  -webkit-box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  border: 0.5px solid rgba(219, 207, 207, 0.5);
}

.router_container_item {
  cursor: pointer;
  margin: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.router_container_item_active {
  cursor: pointer;
  margin: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  padding: 10px 10px 10px 10px;
  transition: 100ms linear;
}


.router_container_item:hover {
  -webkit-box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 46px -6px rgba(0, 0, 0, 0.75);
  padding: 10px 10px 10px 10px;
  transition: 100ms linear;
}
