@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.app {
  height: 100vh;
  width: auto;
  font-family: "Poppins", sans-serif;
}

.app_content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_router {
  position: fixed;
  bottom: 5vh;
  z-index: 999;
  width: 100%;
}

.app_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: -5px;
}
